In [ ]:
################ GEOPANDAS ################
## primero hay que importar un condalab
## posteriormente geopandas
#---------------------------------------------

!pip install -q condacolab
import condacolab
condacolab.install()

!conda install geopandas
#---------------------------------------------

‚ú®üç∞‚ú® Everything looks OK!
Collecting package metadata (current_repodata.json): - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | done
Solving environment: - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - done

# All requested packages already installed.

In [ ]:
# Librer√≠a geopandas
import geopandas as gpd
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
# Conectar con google drive (Es necesario tener la carpeta compartida "PV")
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Descargamos nuestros datos
data = gpd.read_file('/content/drive/Shareddrives/PV/data/CA_GeoDataFrame.geojson')

# Obtenemos los centroides
data["centroid"] = data.geometry.centroid
data.head()

,CELLCODE,Ph_count,Wi_count,Hy_count,Bi_count,Wa_count,Na_count,Nu_count,Cr_count,geometry,centroid
0,1kmE4009N2567,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"POLYGON ((4009000.000 2567000.000, 4009000.000...",POINT (4009500.000 2567500.000)
1,1kmE4009N2568,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"POLYGON ((4009000.000 2568000.000, 4009000.000...",POINT (4009500.000 2568500.000)
2,1kmE4010N2567,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"POLYGON ((4010000.000 2567000.000, 4010000.000...",POINT (4010500.000 2567500.000)
3,1kmE4010N2568,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"POLYGON ((4010000.000 2568000.000, 4010000.000...",POINT (4010500.000 2568500.000)
4,1kmE4010N2569,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"POLYGON ((4010000.000 2569000.000, 4010000.000...",POINT (4010500.000 2569500.000)

In [ ]:
# Dividimos nuestras coordenadas en dos columnas y dividimos entre 1000 para tener unidades en km
data['N'] = data.centroid.y/1000
data['E'] = data.centroid.x/1000

In [ ]:
# Nos desasemos de los poligonos y transformamos nuestras coordenadas en lat/lng
data = data.drop('geometry', axis = 1)
data = data.rename(columns = {"centroid":"geometry"}).to_crs("EPSG:4326")

In [ ]:
# Dividimos nuestras coordenadas en dos columnas
data['Lat'] = data.geometry.y
data['Lng'] = data.geometry.x

In [ ]:
# Eliminamos columnas no deseadas
data = data.drop(["Wi_count",	"Hy_count",	"Bi_count",	"Wa_count",	"Na_count",	"Nu_count"	,"Cr_count", "geometry"], axis = 1)

In [ ]:
# Guardamos nuestros datos
df = pd.DataFrame(data)
df.to_csv("/content/drive/Shareddrives/PV/data/CELLCODE_PV_count.csv")